.statsSection {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5rem 2rem;
    background-color: white;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .statBlock {
    max-width: 280px;
    position: relative;
    z-index: 2;
  
    h2 {
      font-size: 3.5rem;
      color: #12006d;
      font-weight: 900;
      margin: 1rem 0 0.5rem;
    }
  
    h4 {
      font-size: 0.95rem;
      color: #12006d;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 0.8rem;
    }
  
    p {
      font-size: 1rem;
      color: #393e83;
      line-height: 1.5;
    }
  }
  
  .iconWrapper {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    svg{
      width: 100%;
      height: 100%;
    }
    // img {
    //   z-index: 2;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
  
  // Glows
  .orangeGlow::before,
  .blueGlow::before,
  .purpleGlow::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50%;
    filter: blur(30px);
    z-index: 1;
  }
  .orangeGlow{
    color:rgb(255, 94, 0) ;
  }
  .blueGlow{
    color: rgb(0, 200, 255);
  }
  .purpleGlow{
    color: #1f218f;
  }
  
  .orangeGlow::before {
    background: rgba(255, 94, 0, 0.7);
  }
  .blueGlow::before {
    background: rgba(0, 200, 255, 0.7);
  }
  .purpleGlow::before {
    background: rgba(#1f218f, 0.7);
  }
  
  .connectorLine {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 190px;
    z-index: 1;
    pointer-events: none;


    @media (max-width: 968px){
        display: none;
    }
  }
  